/Matrix/nbproject/private/
/Matrix/build/
/Radix/nbproject/private/
/Radix/build/
/Dibujo/nbproject/private/
/Dibujo/build/
/Calculadora/nbproject/private/
/Formulario/build/
/Formulario/nbproject/private/
/Interfaces/build/
/Interfaces/nbproject/private/
/Ventanas_Formularios/build/
/Ventanas_Formularios/dist/
/Ventanas_Formularios/nbproject/private/
/Calculadora/build/
/Form_relativo/nbproject/private/
/Form_relativo/build/
/Errores/nbproject/private/
/Errores/build/
/Mensajon/nbproject/private/
/Mensajon/build/
/Calculadora/dist/
/Pruebas/nbproject/private/
/Pruebas/build/
